.container {
  width: 100%;
  margin: 0 auto;
  padding: 7rem 0;
  background: linear-gradient(90deg, #801336, #ee4540);
}

.wrapper {
  width: 80%;
  margin: auto;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  font-family: "Oswald";
  color: white;
}

.underline {
  margin: -1rem auto 0 auto;
  border-top: 3px solid white;
  width: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 7%;
  padding: 0;
  list-style-type: none;
}

.list li {
  width: 45vw;
  background-color: #510a32;
  padding: 5rem;
  margin: 2rem auto 2rem auto;
  border-radius: 3rem;
  color: white;
  cursor: pointer;
  text-align: center;
}

.shape-top {
  background: linear-gradient(90deg, #801336, #ee4540);
  margin-bottom: -5px;
  clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0 100%);
  height: 100px;
  width: 100%;
}

.shape-bottom {
  background: linear-gradient(90deg, #801336, #ee4540);
  margin-top: -5px;
  clip-path: polygon(0 0, 100% 0, 100% 10%, 0 100%);
  height: 100px;
  width: 100%;
}
