.button {
  position: absolute;
  top: 78%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: #72b01d;
  color: #f3eff5;
  border: 3px solid #d8e9e7;
  width: 80px;
  height: 40px;
  transition-duration: 0.3s;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: #d8e9e7;
}
