.button {
  position: absolute;
  top: 78%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: #3f7d20;
  color: #f3eff5;
  border: 3px solid #d8e9e7;
  width: 80px;
  height: 40px;
  transition-duration: 0.3s;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: #d8e9e7;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button {
    top: 80%;
    left: 43%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .button {
    top: 80%;
    left: 45%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .button {
    top: 80%;
    left: 47%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .button {
    top: 78%;
    left: 48%;
  }
}
