.container {
  width: 80%;
  margin: 7rem auto;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  font-family: "Oswald";
  color: #0d0a0b;
}

.underline {
  margin: -1rem auto 7rem auto;
  border-top: 3px solid #0d0a0b;
  width: 100px;
}

.item {
  display: flex;
  flex-direction: row;
  background-color: #0d0a0b;
  margin: 5rem auto;
  width: 60vw;
  border-radius: 1em;
  overflow: hidden;
}

.item .info {
  padding: 3rem;
  color: #d8e9e7;
}

.item .info h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.item .info button {
  padding: 1rem;
  background-color: #72b01d;
  color: #0d0a0b;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  transition-duration: 0.2s;
  cursor: pointer;
}

.item .info button:hover {
  background-color: #3f7d20;
}

.item img {
  object-fit: cover;
  width: 30vw;
}

.read-more {
  border: none;
  padding: 1.5rem 3rem;
  display: block;
  margin: auto;
  border-radius: 1rem;
  transition-duration: 0.2s;
  font-weight: bold;
  background-color: #0d0a0b;
  color: #f3eff5;
  font-size: 1.5rem;
  transition-duration: 0.2s;
  cursor: pointer;
}

.read-more:hover {
  background-color: #454955;
  color: #f3eff5;
}
