.container {
  width: 80%;
  margin: 7rem auto;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  font-family: "Oswald";
  color: #2d142c;
}

.underline {
  margin: -1rem auto 7rem auto;
  border-top: 3px solid #2d142c;
  width: 100px;
}

.item {
  display: flex;
  flex-direction: row;
  margin: 5rem auto;
  width: 60vw;
  overflow: hidden;
  border: none;
  font-weight: 600;
}

.item img {
  border-radius: 0.5rem;
  object-fit: cover;
  width: 30vw;
}

.item .info {
  padding: 3rem;
  color: #2d142c;
}

.item .info h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.item .info button {
  padding: 1rem;
  width: 8rem;
  background-color: white;
  color: #0d0a0b;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 1rem;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 #c72c41;
  outline: none;
  cursor: pointer;
  border: 1px solid #2d142c;
}

.item .info button:hover {
  box-shadow: inset 8rem 0 0 0 #c72c41;
  color: white;
}

.item .logo {
  object-fit: contain;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .item {
    flex-direction: column;
    width: 100%;
  }

  .item img {
    width: 100%;
    height: 50vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .item {
    flex-direction: column;
    width: 100%;
  }

  .item img {
    width: 100%;
    height: 50vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .item {
    flex-direction: column;
    width: 60vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .item {
    flex-direction: row;
    width: 60vw;
  }

  .item img {
    width: 30vw;
    height: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
