.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #35868133;
  padding: 5rem;
  border-radius: 3rem;
  backdrop-filter: blur(20px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  transition-duration: 0.5s;
  z-index: 3;
}

.title-container:hover {
  backdrop-filter: blur(0px);
}

.title-container h1 {
  font-size: 4vw;
  text-align: center;
  color: #d8e9e7;
  padding: 0;
  margin: 0;
  font-family: "Oswald";
}

.title-container p {
  color: #d8e9e7;
  font-size: 1rem;
  font-family: "Quattrocento";
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 832px) {
  h1 {
    font-size: 7vw;
  }
}
