.menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menu-item {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  transition-duration: 0.3s;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0;
}

.menu-item:hover {
  background-color: #801336;
  color: #f3eff5;
}

.menu-item * {
  margin-right: 0.5rem;
}
