.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
  background-color: #d8e9e7b3;
  backdrop-filter: blur(8px);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.menu-container {
  position: relative;
  right: 0;
  margin-left: 50%;
  margin-right: 5%;
}

@media screen and (max-width: 1100px) {
  .menu-container {
    position: relative;
    right: 0;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .menu-container {
    visibility: hidden;
  }
}
