.container img {
  width: 50%;
  display: block;
  margin: auto;
  border-radius: 8px;
}

.container h1 {
  text-align: center;
}

.info {
  width: 50%;
  margin: auto;
  padding: 5rem 0;
}

.text-block {
  margin: 5rem 0;
  font-size: 1.2rem;
}
